/*  ################################################################
  1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
  margin: 0;
  padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
  background: #fff; 
  margin: 0; 
  color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  font-weight: 300;
}


p { 
  padding: 0; 
  margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px; 
  line-height: 26px;
  color: #666; 
  margin-top: 10px;
  letter-spacing: 0.7px; 
}

html,
body {
  height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 20px; color}
.mtb {margin-top: 50px; margin-bottom: 20px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 60px; padding-bottom: 60px;}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width:100%;
}
::-moz-selection  {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
::selection {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
  padding: 0px !important;
  margin: 0px;
}

/* NAVBAR CONFIGURATION*/
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: 500px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-family: inherit;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  font-family: inherit;
}


/*Info: TERM LIFE vs. WHOLE LIFE*/
.info {
  margin-top: -47px;
}

.btn-tab {
  border-radius: 0px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 28px 13px 28px;
}

.btn-tab {
  background: transparent;
  color: white;
  width: 100%;
}

.btn-black {
  background-color: #2f2f2f;
}

.btn-black:hover {
  color: #03c9a9;
}

.well {
  margin-bottom: 0px;
  border-radius: 0px;
}

/* Push the body after clicking the menu button */
.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.body-push-toright {
  left: 200px;
}

.body-push-toleft {
  left: -200px;
}

.menu,
.body-push {
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
      transition: all .3s ease;
}

#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

#menuToggle:hover {
  color: #ffffff;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

/*HELPERS*/

/*Text grey*/
tg {
  color: #b6b6b6;
}
/*Text Green*/
tgr {
  color: #002B49;
}

hr {
  border: 1px solid #5a5a5a;
  width:100px;
}

/* BOOTSTRAP MODIFICATIONS */
/*Collapse Panels*/
.panel-default > .panel-heading {
  color: #5a5a5a;
  background-color: transparent;
  border-color: #ddd;
}

/* FORM CONFIGURATION */

input {
  font-size: 16px;
  min-height: 40px;
  border-radius: 25px;
  line-height: 20px;
  padding: 11px 30px 12px;
  border: 1px solid #b9b9af;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.subscribe-input {
  float: left;
  width: 65%;
  text-align: left;
  margin-right: 2px;
}

.subscribe-submit {
  right: 0;
}

.btn-download {
  background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 28px 13px 28px;
  }

.btn-green {
  background: #FFBB1C;
  color: white;
}

.btn-clear {
  background: transparent;
  color: white;
  border: 2px solid white;
}
.btn-clear:hover {
  background: white;
  color: #2f2f2f;
}

/* HEADER SECTION */
#h {
  background: url(../img/twins.jpg) no-repeat center top;
  padding-top: 170px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  color: white;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}

#h h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}

#h h2 {
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

#h p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: -11px;
  margin-bottom: 4px;
}

#h img {
  padding-top: 225px;
}

/* DIVIDEND SECTION */
.benefits {
  padding-top: 40px;
  padding-bottom: 40px;
}

.description {
  padding-top: 0px;
}

.news {
  /*background-image: url('../img/girls.jpg');*/
}

.news .container {
  width: 100%
}

.news2 {
  background-image: url('../img/als.jpeg');
}

.news2 .container {
  width: 100%
}

.img-circle {
    border-radius: 50%;
}

.section-bg-color {
  background-color: #8095a4;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  height: 475px;
}

.section-bg-color h3, .section-bg-color h1, .section-bg-color h4, .section-bg-color h5, .section-bg-color p {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

.section-dg-color {
  background-color: #94b7bb;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  height: 475px;
}

.section-dg-color h3, .section-dg-color h1,.section-dg-color h5,.section-dg-color h6, .section-dg-color p {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

.illustration {
  margin-bottom: 30px;
}

.illustration h5 {
  font-size: 20px;
}

.illustration h6 {
  font-size: 15px;
}

.section-transparent {
  background: transparent;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.section-transparent h3, .section-transparent h1, .section-transparent h6, .section-transparent p {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

.section-transparent h6 {
  font-weight: 700;
}

/*Growth*/
.growth {
  background-image: url('../img/baby-feet.jpeg');
  height: 486px;
}

.growth h1 {
  color: #fff;
  padding-top: 55px;
}

.growth h3 {
  color: #fff;
}

.growth p {
  color: #fff;
}

.feet {
  text-align: center;
}


/*Hero pricing*/
.popular-price {
  font-size: 40px;
  font-weight: 350;
  color: #fff;
  text-align: left;
  padding-left: 20px;
}

.per-month {
  color: #fff;
  margin-top: -29px;
  padding-left: 95px;
}

/* Icons - Round */
.circle-icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}

.circle-icon .icon {
  color: #8095A4;
  line-height: 120px;
  text-align: center;
}

.icon {
  font-size: 70px;
}

.fa-chevron-down {
  color: #B6B6B6;
}

/* GREY SECTION */
#g {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #f2f2f2;
}

#g h3 {
  color: #002B49;
}

#g i {
  color: #8095A4;
}


/* TESTIMONIAL SECTION */
.testimonials {
  background-image: url('../img/lucy.jpg');
}

.testimonials .container {
  width: 100%
}

.section-bg-grey {
  background-color: #f2f2f2;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;
}

.section-bg-grey h3, .section-bg-grey h1,.section-bg-grey h5, .section-bg-grey p {
  margin-left: 25px;
  margin-right: 25px;
  color: #002B49;
}

/* INVESTMENT CLASSES */
.investment-class {
  font-size: 20px;
  color: #8095a4;
}

.rating {
  font-size: 35px;
  font-weight: 800;
  color: #FFBB1C;
}

/* PRICING TAG */
.price-tag {
  background: #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 5px;
}

.price-tag h1 {
  margin-top: -30px;
  font-weight: 700;
  font-size: 50px;
}

.price-tag h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

.price-tag h4 {
  padding-top: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.price-tag-green {
  background: #002B49;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white; 
  margin: 5px;
}

.price-tag-green h1 {
  margin-top: -30px;
  font-weight: 700;
  font-size: 50px;
}

.price-tag-green h5, .price-tag-green h4 {
  font-weight: 400;
  letter-spacing: 1px;
}

.price-tag-green h4 {
  padding-top: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.price-tag-green p {
  color: white;
  text-align: left;
}

.price-tag p {
  text-align: left;
}

/* CONTRIBUTIONS */
.contribute {
  padding-top: 55px;
  color: #fff;
}

.contribute h1 {
  padding-top: 1px;
  color: #03c9a9;
  font-weight: 700px;
}

.contribute-steps {
  color: #fff;
  font-size: 20px;
}

.contribute-steps ul {
    list-style-type: none;
    text-align: left;
    font-size: 22px;
    color: #fff;
}

.bs-wizard {
  margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #fff; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #fff; font-style: inherit; font-size: 16px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #03C9A9; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #06967F; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #03C9A9;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%; margin-bottom: 20px;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #03C9A9;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/* SPONSORS */

.sponsor img {
  max-width: 140px;
  max-height: 60px;
  vertical-align: middle;
}

.sponsor .col-sm-2 {
  height: 80px;
  line-height: 80px;
}

/* FOOTER */
#f {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #2f2f2f;
  color: #f2f2f2;
}

#f h5 {
  color: #b9b9b9;
  letter-spacing: 1px;
}

#f p {
  color: #fff;
}

/*Features of NM*/
#feature {
  padding: 0px 0;
}
#feature .media {
  margin: 0px 0 70px 0;
}
#feature .media .media-left {
  padding-right: 25px;
}
#feature h3 {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px 0px 15px;
  font-weight: 400;
}
#feature p {
  line-height: 25px;
  font-size: 14px;
  color: #777777;
  margin-bottom: 88px;
}
#feature .icon {
  text-decoration: none;
  color: #fff;
  background-color: #94b7bb;
  height: 100px;
  text-align: center;
  width: 100px;
  font-size: 50px;
  line-height: 100px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /*text-shadow: #00a4ba 1px 1px, #00a4ba 2px 2px, #00a4ba 3px 3px, #00a4ba 4px 4px, #00a4ba 5px 5px, #00a4ba 6px 6px, #00a4ba 7px 7px, #00a4ba 8px 8px, #00a4ba 9px 9px, #00a4ba 10px 10px, #00a4ba 11px 11px, #00a4ba 12px 12px, #00a4ba 13px 13px, #00a4ba 14px 14px, #00a4ba 15px 15px, #00a4ba 16px 16px, #00a4ba 17px 17px, #00a4ba 18px 18px, #00a4ba 19px 19px, #00a4ba 20px 20px, #00a4ba 21px 21px, #00a4ba 22px 22px, #00a4ba 23px 23px, #00a4ba 24px 24px, #00a4ba 25px 25px, #00a4ba 26px 26px, #00a4ba 27px 27px, #00a4ba 28px 28px, #00a4ba 29px 29px, #00a4ba 30px 30px, #00a4ba 31px 31px, #00a4ba 32px 32px, #00a4ba 33px 33px, #00a4ba 34px 34px, #00a4ba 35px 35px, #00a4ba 36px 36px, #00a4ba 37px 37px, #00a4ba 38px 38px, #00a4ba 39px 39px, #00a4ba 40px 40px, #00a4ba 41px 41px, #00a4ba 42px 42px, #00a4ba 43px 43px, #00a4ba 44px 44px, #00a4ba 45px 45px, #00a4ba 46px 46px, #00a4ba 47px 47px, #00a4ba 48px 48px, #00a4ba 49px 49px, #00a4ba 50px 50px, #00a4ba 51px 51px, #00a4ba 52px 52px, #00a4ba 53px 53px, #00a4ba 54px 54px, #00a4ba 55px 55px, #00a4ba 56px 56px, #00a4ba 57px 57px, #00a4ba 58px 58px, #00a4ba 59px 59px, #00a4ba 60px 60px, #00a4ba 61px 61px, #00a4ba 62px 62px, #00a4ba 63px 63px, #00a4ba 64px 64px, #00a4ba 65px 65px, #00a4ba 66px 66px, #00a4ba 67px 67px, #00a4ba 68px 68px, #00a4ba 69px 69px, #00a4ba 70px 70px, #00a4ba 71px 71px, #00a4ba 72px 72px, #00a4ba 73px 73px, #00a4ba 74px 74px, #00a4ba 75px 75px, #00a4ba 76px 76px, #00a4ba 77px 77px, #00a4ba 78px 78px, #00a4ba 79px 79px, #00a4ba 80px 80px, #00a4ba 81px 81px, #00a4ba 82px 82px, #00a4ba 83px 83px, #00a4ba 84px 84px, #00a4ba 85px 85px, #00a4ba 86px 86px, #00a4ba 87px 87px, #00a4ba 88px 88px, #00a4ba 89px 89px, #00a4ba 90px 90px, #00a4ba 91px 91px, #00a4ba 92px 92px, #00a4ba 93px 93px, #00a4ba 94px 94px, #00a4ba 95px 95px, #00a4ba 96px 96px, #00a4ba 97px 97px, #00a4ba 98px 98px, #00a4ba 99px 99px, #00a4ba 100px 100px;*/
}

/*Learn more*/
.learn-more {
  padding-top: 250px;
  margin-bottom: -100px;
  margin-left: 15px;
}

/* COPYRIGHT */
#copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #2F2F2F;
  color: #2F2F2F;
}

#copyright h4 {
  font-size: 12px;
  color: #F2F2F2;
}

#copyright i {
  font-size: 20px;
  margin-right: 15px;
  color: #F2F2F2;
}

/*Frequently Asked Questions*/
.faq {
  padding-top: 80px;
  padding-bottom: 20px;
}
.faq-header {
  font-size: 30px;
  font-weight: 800px;
  text-align: left;
}

.question {
  font-weight: bold;
  padding-bottom: 5px;
  color: #03C9A9;
}

.answer {
  padding-bottom: 20px;
}

/*Ionic Icons*/
.ion-cash:before {
  padding-top: 24px;
}

.ion-umbrella:before {
  padding-top: 24px;
}

.ion-ios-shuffle:before {
  padding-top: 24px;
}

.ion-ios-stopwatch-outline:before {
  padding-top: 24px;
}

.ion-android-favorite-outline:before {
  padding-top: 24px;
}

.ion-ios-chatboxes-outline:before {
  padding-top: 24px;
}

.ion-connection-bars:before {
  padding-top: 24px;
}

.ion-ios-locked-outline:before {
  padding-top: 24px;
}




/*Material Icons*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-100 { 
  font-size: 80px; 
}

.material-icons.green100 {
  color: #FFBB1C;
}

.expectations {
  font-size: 18px;
  padding-top: 10px;
}



#expecting-process{
  background-image: url('../img/baby-feet.jpeg');
  color: #fff;
}

#expecting-process p {
  color: #fff;
}




















